<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Rails Recipe Hub" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Rails Recipe Hub">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <header class="container">
      <nav role="navigation" data-position="end" data-breakpoint="lg">
        <ul>
          <li><h4 class="mb-0"><a href="/" aria-current="page">RecipeHub</a></h4></li>
        </ul>

        <ul>
          <li><strong>Give Us a like on GitHub!</strong></li>
        </ul>

              <!-- <input type="checkbox" id="hamburger-toggle">
        <label for="hamburger-toggle" style="font-size: calc(var(--pico-font-size) * 2);" aria-label="Menu" aria-controls="nav-example2"> ≡ </label> -->

        <ol id="nav-example2" role="list">
          <li role="listitem"><%= active_link_to(t('.login'), new_session_path) %></li>
          <li role="listitem"><%= active_link_to(t('.signup'), sign_up_path) %></li>
        </ol>
      </nav>
    </header>

    <main class="container">
      <%= yield %>
    </main>

    <footer class="container">
      <hr>
      <small>
        MIT License • <a href="https://github.com/goncalvesjoao/recipe-hub" target="_blank">GitHub</a>
      </small>
    </footer>
  </body>
</html>
